@model Gmax.Models.Entities.OrdineProduzione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdineProduzione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NroLancio" class="control-label"></label>
                <input asp-for="NroLancio" class="form-control" />
                <span asp-validation-for="NroLancio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroSottolancio" class="control-label"></label>
                <input asp-for="NroSottolancio" class="form-control" />
                <span asp-validation-for="NroSottolancio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stato" class="control-label"></label>
                <input asp-for="Stato" class="form-control" />
                <span asp-validation-for="Stato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtLancioId" class="control-label"></label>
                <select asp-for="ArtLancioId" class="form-control" asp-items="ViewBag.ArtLancioId"></select>
                <span asp-validation-for="ArtLancioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCreazione" class="control-label"></label>
                <input asp-for="DataCreazione" class="form-control" />
                <span asp-validation-for="DataCreazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevCons" class="control-label"></label>
                <input asp-for="DataPrevCons" class="form-control" />
                <span asp-validation-for="DataPrevCons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
