@model Gmax.Models.Entities.ArticoloCK

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ArticoloCK</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoArticolo" class="control-label"></label>
                <input asp-for="TipoArticolo" class="form-control" />
                <span asp-validation-for="TipoArticolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceArticolo" class="control-label"></label>
                <input asp-for="CodiceArticolo" class="form-control" />
                <span asp-validation-for="CodiceArticolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitaMisuraGestione" class="control-label"></label>
                <input asp-for="UnitaMisuraGestione" class="form-control" />
                <span asp-validation-for="UnitaMisuraGestione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtaScortaMin" class="control-label"></label>
                <input asp-for="QtaScortaMin" class="form-control" />
                <span asp-validation-for="QtaScortaMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUbicazione" class="control-label"></label>
                <input asp-for="CodUbicazione" class="form-control" />
                <span asp-validation-for="CodUbicazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodCostruttore" class="control-label"></label>
                <input asp-for="CodCostruttore" class="form-control" />
                <span asp-validation-for="CodCostruttore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtaImpCliente" class="control-label"></label>
                <input asp-for="QtaImpCliente" class="form-control" />
                <span asp-validation-for="QtaImpCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInserimento" class="control-label"></label>
                <input asp-for="DataInserimento" class="form-control" />
                <span asp-validation-for="DataInserimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
